.popularGames {
    padding-top: 2em;
    .mainTitle {
        font-size: calc(18px + 7 * ((100vw - 320px) / (1280 - 320)));
        font-weight: 500;
        color: $mainWhite;
    }
    .jsPopularGamesSlide {
        margin-top: 15px;
    }
    .swiper-button-next, .swiper-button-prev {
        font-size: 12px !important;
        &::before {
            content: '';
            height: 25px;
            width: 25px;
            padding: 10px;
            position: absolute;
            // top: 50%;
            // transform: translateY(-50%);
            border-radius: 100%;
            background-color: $mainWhite;
        }
        &::after {
            z-index: 3;
            font-size: 30px !important;
            top: 50%;
        }
    }
    .swiper-button-next {
        right: 20px;
    }
    .swiper-button-prev {
        left: 20px;
    }
    .popularGamesItem {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        img {
            width: 100%;
            height: auto;
            transition: .2s ease-in-out;
        }
        &:hover {
            z-index: 300;
            position: relative;
            img {
                transform: scale(1.1);
            }
            .popularGamesItem_content {
                visibility: visible;
                opacity: 1;
                transform: translateY(0%);
                z-index: 300;
            }
        }
        .popularGamesItem_content {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            visibility: hidden;
            opacity: 0;
            transform: translateY(50%);
            transition: .2s ease-in-out;
            .content {
                width: 70%;
                top: 10%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                .btn {
                    max-width: 100%;
                    margin-top: 10px;
                    height: 40px;
                    span {
                        font-size: 14px;
                    }
                }
            }
            .like {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background-color: $lightBlue;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                cursor: pointer;
                &:hover {
                    background-color: $darkBlue;
                }
            }
            .star {
                position: absolute;
                bottom: 10px;
                left: 10px;
                background-color: $lightBlue;
                height: 30px;
                padding-right: 5px;
                padding-left: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 32px;
                cursor: pointer;
                color: $mainWhite;
                svg {
                    margin-right: 2px;
                }
                &:hover {
                    background-color: $darkBlue;
                }
            }
            .main {
                background-color: $bgBlue;
                &:hover {
                    background-color: $mainWhite;
                    span {
                        color: $bgBlue;
                    }
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    .popularGames {
        padding-top: 2em;
        .swiper-button-next, .swiper-button-prev {
            font-size: 12px !important;
            &::before {
                content: '';
                height: 20px;
                width: 20px;
                padding: 10px;
                position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                border-radius: 100%;
                background-color: $mainWhite;
            }
            &::after {
                z-index: 3;
                font-size: 30px !important;
                top: 50%;
            }
        }
        .swiper-button-next {
            right: 15px;
        }
        .swiper-button-prev {
            left: 15px;
        }
        .popularGamesItem {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            .popularGamesItem_content {
                .content {
                    width: 70%;
                    top: 10%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    .btn {
                        max-width: 100%;
                        margin-top: 10px;
                        height: 40px;
                        span {
                            font-size: 12px;
                        }
                    }
                }
                .like {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    background-color: $lightBlue;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    cursor: pointer;
                    &:hover {
                        background-color: $darkBlue;
                    }
                }
                .star {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    background-color: $lightBlue;
                    height: 30px;
                    padding-right: 5px;
                    padding-left: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 32px;
                    cursor: pointer;
                    color: $mainWhite;
                    svg {
                        margin-right: 2px;
                    }
                    &:hover {
                        background-color: $darkBlue;
                    }
                }
                .main {
                    background-color: $bgBlue;
                    &:hover {
                        background-color: $mainWhite;
                        span {
                            color: $bgBlue;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1280px) {
    .popularGames {
        padding-top: 2em;
        .swiper-button-next, .swiper-button-prev {
            font-size: 12px !important;
            &::before {
                content: '';
                height: 20px;
                width: 20px;
                padding: 10px;
                position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                border-radius: 100%;
                background-color: $mainWhite;
            }
            &::after {
                z-index: 3;
                font-size: 30px !important;
                top: 50%;
            }
        }
        .swiper-button-next {
            right: 15px;
        }
        .swiper-button-prev {
            left: 15px;
        }
        .popularGamesItem {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            .popularGamesItem_content {
                .content {
                    width: 70%;
                    top: 10%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    .btn {
                        max-width: 100%;
                        margin-top: 10px;
                        height: 40px;
                        span {
                            font-size: 12px;
                        }
                    }
                }
                .like {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    background-color: $lightBlue;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    cursor: pointer;
                    &:hover {
                        background-color: $darkBlue;
                    }
                }
                .star {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    background-color: $lightBlue;
                    height: 30px;
                    padding-right: 5px;
                    padding-left: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 32px;
                    cursor: pointer;
                    color: $mainWhite;
                    svg {
                        margin-right: 2px;
                    }
                    &:hover {
                        background-color: $darkBlue;
                    }
                }
                .main {
                    background-color: $bgBlue;
                    &:hover {
                        background-color: $mainWhite;
                        span {
                            color: $bgBlue;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1110px) {
    .popularGames {
        padding-top: 2em;
        .swiper-button-next, .swiper-button-prev {
            font-size: 12px !important;
            &::before {
                content: '';
                height: 20px;
                width: 20px;
                padding: 10px;
                position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                border-radius: 100%;
                background-color: $mainWhite;
            }
            &::after {
                z-index: 3;
                font-size: 30px !important;
                top: 50%;
            }
        }
        .swiper-button-next {
            right: 15px;
        }
        .swiper-button-prev {
            left: 15px;
        }
        .popularGamesItem {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            .popularGamesItem_content {
                .content {
                    width: 70%;
                    .btn {
                        height: 40px;
                        span {
                            font-size: 10px;
                        }   
                    }
                }
                .like {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    background-color: $lightBlue;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    cursor: pointer;
                    &:hover {
                        background-color: $darkBlue;
                    }
                }
                .star {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    background-color: $lightBlue;
                    height: 30px;
                    padding-right: 5px;
                    padding-left: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 32px;
                    cursor: pointer;
                    color: $mainWhite;
                    svg {
                        margin-right: 2px;
                    }
                    &:hover {
                        background-color: $darkBlue;
                    }
                }
                .main {
                    background-color: $bgBlue;
                    &:hover {
                        background-color: $mainWhite;
                        span {
                            color: $bgBlue;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 900px) {
    .popularGames {
        padding-top: 2em;
        .swiper-button-next, .swiper-button-prev {
            font-size: 12px !important;
            &::before {
                content: '';
                height: 20px;
                width: 20px;
                padding: 10px;
                position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                border-radius: 100%;
                background-color: $mainWhite;
            }
            &::after {
                z-index: 3;
                font-size: 30px !important;
                top: 50%;
            }
        }
        .swiper-button-next {
            right: 15px;
        }
        .swiper-button-prev {
            left: 15px;
        }
        .popularGamesItem {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            .popularGamesItem_content {
                .content {
                    width: 90%;
                    .btn {
                        height: 40px;
                        span {
                            font-size: 12px;
                        }   
                    }
                }
                .like {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    background-color: $lightBlue;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    cursor: pointer;
                    &:hover {
                        background-color: $darkBlue;
                    }
                }
                .star {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    background-color: $lightBlue;
                    height: 30px;
                    padding-right: 5px;
                    padding-left: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 32px;
                    cursor: pointer;
                    color: $mainWhite;
                    svg {
                        margin-right: 2px;
                    }
                    &:hover {
                        background-color: $darkBlue;
                    }
                }
                .main {
                    background-color: $bgBlue;
                    &:hover {
                        background-color: $mainWhite;
                        span {
                            color: $bgBlue;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .popularGames {
        padding-top: 2em;
        .swiper-button-next, .swiper-button-prev {
            font-size: 12px !important;
            &::before {
                content: '';
                height: 15px;
                width: 15px;
                padding: 10px;
                position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                border-radius: 100%;
                background-color: $mainWhite;
            }
            &::after {
                z-index: 3;
                font-size: 25px !important;
                top: 50%;
            }
        }
        .swiper-button-next {
            right: 5px;
            &::before { 
                margin-left: -3px;
            }
        }
        .swiper-button-prev {
            left: 5px;
            &::before { 
                margin-right: -3px;
            }
        }
        .popularGamesItem {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            .popularGamesItem_content {
                .content {
                    width: 95%;
                    .btn {
                        margin-top: 5px;
                        height: 30px;
                        span {
                            font-size: 10px;
                        }   
                    }
                }
                .like {
                    height: 20px;
                    width: 20px;
                    &:hover {
                        background-color: $darkBlue;
                    }

                    svg {
                        height: 15px;
                    }
                }
                .star {
                    height: 20px;
                    svg {
                        margin-right: 2px;
                        height: 15px;
                    }
                }
                .main {
                    
                    &:hover {
                        span {
                            color: $bgBlue;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 360px) {
    .popularGames {
        padding-top: 2em;
        .swiper-button-next, .swiper-button-prev {
            font-size: 12px !important;
            top: 65%;
            &::before {
                content: '';
                height: 10px;
                width: 10px;
                padding: 10px;
                position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                border-radius: 100%;
                background-color: $mainWhite;
            }
            &::after {
                z-index: 3;
                font-size: 20px !important;
                top: 50%;
            }
        }
        .swiper-button-next {
            right: 10px;
            font-size: 7px !important;
        }
        .swiper-button-prev {
            left: 10px;
            font-size: 7px !important;
        }
        .popularGamesItem {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            .popularGamesItem_content {
                .content {
                    width: 95%;
                    .btn {
                        margin-top: 10px;
                        height: 40px;
                        span {
                            font-size: 14px;
                        }   
                    }
                }
                .like {
                    height: 30px;
                    width: 30px;
                    &:hover {
                        background-color: $darkBlue;
                    }

                    svg {
                        height: 25px;
                    }
                }
                .star {
                    height: 30px;
                    svg {
                        margin-right: 2px;
                        height: 25px;
                    }
                }
                .main {
                    
                    &:hover {
                        span {
                            color: $bgBlue;
                        }
                    }
                }
            }
        }
    }
}